/*! modern-normalize v1.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

/* raleway-regular - latin_cyrillic */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/raleway-v18-latin_cyrillic-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/raleway-v18-latin_cyrillic-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway-v18-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/raleway-v18-latin_cyrillic-regular.woff") format("woff"), url("../fonts/raleway-v18-latin_cyrillic-regular.ttf") format("truetype"), url("../fonts/raleway-v18-latin_cyrillic-regular.svg#Raleway") format("svg");
  /* Legacy iOS */
}

/* raleway-700 - latin_cyrillic */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/raleway-v18-latin_cyrillic-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/raleway-v18-latin_cyrillic-700.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway-v18-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/raleway-v18-latin_cyrillic-700.woff") format("woff"), url("../fonts/raleway-v18-latin_cyrillic-700.ttf") format("truetype"), url("../fonts/raleway-v18-latin_cyrillic-700.svg#Raleway") format("svg");
  /* Legacy iOS */
}

/* roboto-regular - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v20-latin_cyrillic-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v20-latin_cyrillic-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v20-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/roboto-v20-latin_cyrillic-regular.woff") format("woff"), url("../fonts/roboto-v20-latin_cyrillic-regular.ttf") format("truetype"), url("../fonts/roboto-v20-latin_cyrillic-regular.svg#Roboto") format("svg");
  /* Legacy iOS */
}

/* roboto-500 - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto-v20-latin_cyrillic-500.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v20-latin_cyrillic-500.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v20-latin_cyrillic-500.woff2") format("woff2"), url("../fonts/roboto-v20-latin_cyrillic-500.woff") format("woff"), url("../fonts/roboto-v20-latin_cyrillic-500.ttf") format("truetype"), url("../fonts/roboto-v20-latin_cyrillic-500.svg#Roboto") format("svg");
  /* Legacy iOS */
}

/* roboto-700 - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v20-latin_cyrillic-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v20-latin_cyrillic-700.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v20-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/roboto-v20-latin_cyrillic-700.woff") format("woff"), url("../fonts/roboto-v20-latin_cyrillic-700.ttf") format("truetype"), url("../fonts/roboto-v20-latin_cyrillic-700.svg#Roboto") format("svg");
  /* Legacy iOS */
}

.form-subscription__button {
  font-family: inherit;
}

.header__logo, .footer__logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #000000;
}

.mail-icon, .phone-icon {
  vertical-align: middle;
  margin-right: 10px;
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.social__appeal, .subscription__appeal {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.14em;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

body {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

body.modal-open {
  overflow: hidden;
}

.header__menu-container.is-open body {
  pointer-events: none;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.header {
  border-bottom: 1px solid #ececec;
  background-color: #ffffff;
}

.header-wrapper {
  height: 60px;
}

@media (min-width: 768px) {
  .header-wrapper {
    position: relative;
    height: 80px;
  }
}

@media (max-width: 767px) {
  .header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }
}

@media (min-width: 768px) {
  .header__logo {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}

.accent {
  color: #2196f3;
}

.header__menu-container {
  background-color: #ffffff;
}

@media screen and (max-width: 767px) {
  .header__menu-container {
    position: absolute;
    left: 0;
    z-index: 50;
    padding-top: 60px;
    padding-bottom: 60px;
    width: 100%;
    text-align: center;
    border-top: 1px solid #ececec;
    opacity: 0;
    pointer-events: none;
    transition: opacity 200ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header__menu-container.is-open {
    opacity: 1;
    pointer-events: visiblePainted;
  }
}

.header__button-menu {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

.header__button-menu .icon-close-menu {
  opacity: 0;
}

.header__button-menu.is-open .icon-close-menu {
  opacity: 1;
}

.header__button-menu.is-open .icon-menu {
  opacity: 0;
}

@media (min-width: 768px) {
  .header__button-menu {
    display: none;
  }
}

.header__icon-close-menu {
  width: 40px;
  height: 40px;
  fill: #212121;
}

.icon-close-menu:hover,
.icon-close-menu:focus,
.icon-menu:hover,
.icon-menu:focus {
  fill: #2196f3;
}

.icon-close-menu,
.icon-menu {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media (min-width: 768px) {
  .nav {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@media (min-width: 1200px) {
  .nav {
    left: 27%;
    transform: translate(-27%, -50%);
  }
}

@media (max-width: 767px) {
  .nav__list {
    margin-bottom: 60px;
  }
}

@media (min-width: 768px) {
  .nav__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 294px;
  }
}

.nav__link {
  display: block;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.167;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__link:hover, .nav__link:focus {
  color: #2196f3;
}

@media (min-width: 768px) {
  .nav__link {
    font-size: 14px;
    line-height: 1.143;
  }
}

.nav__current {
  display: inline-block;
  position: relative;
  color: #2196f3;
}

.nav__current::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  position: absolute;
  bottom: -8px;
  background-color: #2196f3;
}

@media (min-width: 768px) {
  .nav__current {
    display: block;
  }
  .nav__current::after {
    bottom: -33px;
  }
}

@media (max-width: 767px) {
  .nav__studio,
  .nav__portfolio {
    margin-bottom: 40px;
  }
}

.contact-container {
  text-align: center;
}

@media (min-width: 768px) {
  .contact-container {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    text-align: left;
  }
}

@media (min-width: 1200px) {
  .contact-container {
    display: flex;
    align-items: center;
  }
}

.header__contact {
  display: block;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.167;
  letter-spacing: 0.02em;
  font-style: normal;
  text-decoration: none;
  color: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__contact:hover, .header__contact:focus {
  color: #2196f3;
}

@media (min-width: 768px) {
  .header__contact {
    padding-right: 15px;
    font-size: 12px;
  }
}

@media (min-width: 1200px) {
  .header__contact {
    font-size: 14px;
    line-height: 1.143;
  }
}

@media (max-width: 1199px) {
  .header__mail {
    margin-bottom: 16px;
  }
}

@media (min-width: 1200px) {
  .header__mail {
    margin-right: 15px;
  }
}

.mail-icon {
  width: 16px;
  height: 12px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact:hover .mail-icon,
.contact:focus .mail-icon {
  fill: #2196f3;
}

.phone-icon {
  width: 10px;
  height: 16px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact:hover .phone-icon,
.contact:focus .phone-icon {
  fill: #2196f3;
}

.portfolio {
  padding: 60px 15px 30px 15px;
}

@media (min-width: 1200px) {
  .portfolio {
    padding-top: 94px;
    padding-bottom: 64px;
  }
}

.filter {
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 40px;
}

@media (min-width: 768px) {
  .filter {
    width: 611px;
  }
}

@media (min-width: 1200px) {
  .filter {
    padding-bottom: 50px;
  }
}

.filter__list {
  display: flex;
  flex-wrap: wrap;
}

@media (min-width: 768px) {
  .filter__list {
    justify-content: space-between;
    flex-wrap: nowrap;
  }
}

.filter__button {
  display: inline-block;
  margin-right: 8px;
  margin-bottom: 15px;
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
  border: none;
  background-color: #f5f4fa;
  color: #212121;
  background-position: 50% 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 15px;
}

.filter__button:hover, .filter__button:focus {
  border: none;
  color: #ffffff;
  background-color: #2196f3;
}

.filter__button:active {
  color: #212121;
  border: none;
}

@media (min-width: 768px) {
  .filter__button {
    margin-right: 0;
  }
}

@media (min-width: 1200px) {
  .filter__button {
    margin-bottom: 0;
  }
}

@media (min-width: 768px) {
  .projects__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.projects__item {
  max-width: 450px;
  width: 100%;
  margin-bottom: 30px;
  border: 1px solid #eeeeee;
  background: #ffffff;
}

@media (min-width: 768px) {
  .projects__item {
    width: calc((100% - 30px) / 2);
  }
}

@media (min-width: 1200px) {
  .projects__item {
    width: calc((100% - 60px) / 3);
  }
}

.project__link {
  display: block;
  margin: 0;
  padding-bottom: 20px;
  text-decoration: none;
  box-shadow: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project__link:hover, .project__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects__wrapper-description {
  position: relative;
  overflow: hidden;
}

.projects__wrapper-description::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  height: 100%;
  width: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 0;
  transform: translateY(100%);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms var cubic-bezier(0.4, 0, 0.2, 1);
}

.project__link:hover .projects__wrapper-description::before,
.project__link:focus .projects__wrapper-description::before {
  transform: translateY(0);
  opacity: 1;
}

.projects__image {
  display: block;
  width: 100%;
  height: auto;
}

.project__description {
  position: absolute;
  margin: 0;
  padding: 0 24px;
  width: 100%;
  font-size: 18px;
  line-height: 1.56;
  color: #ffffff;
  z-index: 1;
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project__link:hover .project__description,
.project__link:focus .project__description {
  opacity: 1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.projects__wrapper-name {
  margin: 0 24px;
}

.project__name {
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.project__category {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
}

.footer {
  background-color: #2f303a;
}

.footer__container {
  padding: 60px 15px;
}

@media (min-width: 768px) {
  .footer__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}

@media (min-width: 1200px) {
  .footer__container {
    flex-direction: row;
    align-items: baseline;
  }
}

@media (min-width: 768px) {
  .footer__wrapper {
    display: flex;
    justify-content: space-around;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__wrapper {
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .footer__wrapper {
    align-items: baseline;
  }
}

.footer__logo {
  display: block;
  margin-bottom: 20px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
  color: #ffffff;
}

@media (min-width: 1200px) {
  .footer__logo {
    text-align: left;
  }
}

.accent {
  color: #2196f3;
}

.footer__contacts {
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 60px;
  font-style: normal;
  text-align: center;
  color: rgba(255, 255, 255, 0.6);
}

@media (min-width: 1200px) {
  .footer__contacts {
    text-align: left;
  }
}

.footer__address {
  display: block;
  margin-bottom: 9px;
  color: #ffffff;
}

.footer__mail {
  display: block;
  margin-bottom: 9px;
}

.social {
  margin-bottom: 60px;
}

@media (min-width: 1200px) {
  .social {
    margin-left: 70px;
  }
}

.social__appeal {
  text-align: center;
}

.social__list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social__link-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link-item:hover, .social__link-item:focus {
  background-color: #2196f3;
}

.social__link-icon {
  width: 20px;
  height: 20px;
  background-position: 50% 50%;
  fill: #ffffff;
}

@media (min-width: 768px) {
  .subscription {
    width: 450px;
  }
}

@media (min-width: 1200px) {
  .subscription {
    width: 570px;
  }
}

.subscription__appeal {
  text-align: center;
}

@media (min-width: 1200px) {
  .subscription__appeal {
    text-align: left;
  }
}

.form-subscription {
  width: 100%;
  text-align: center;
}

@media (min-width: 1200px) {
  .form-subscription {
    display: flex;
    justify-content: space-between;
  }
}

.form-subscription__input {
  margin-right: 10px;
  margin-bottom: 20px;
  padding: 15px 16px;
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: #ffffff;
  background-color: transparent;
}

.form-subscription__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

@media (min-width: 1200px) {
  .form-subscription__input {
    width: 358px;
  }
}

.form-subscription__button {
  display: inline-flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  min-width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 0.06em;
  border: none;
  border-radius: 4px;
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-subscription__button:hover, .form-subscription__button:focus {
  background-color: #ffffff;
  color: #2196f3;
}

.form-subscription__text {
  margin-right: 10px;
}

.form-subscription__icon {
  width: 24px;
  height: 24px;
  fill: #ffffff;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-subscription__button:hover .form-subscription__icon,
.form-subscription__button:focus .form-subscription__icon {
  fill: #2196f3;
}
/*# sourceMappingURL=portfolio.css.map */