.clients__container {
  padding-top: 60px;
  padding-bottom: 60px;

  @include change-size(tablet) {
    padding-bottom: 30px;
  }
}

.clients__title {
  margin: 0;
  margin-bottom: 30px;

  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;

  @include change-size(desktop) {
    font-size: 36px;
    line-height: 1.167;
  }
}

.client__list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
  @include change-size(tablet) {
    justify-content: space-between;
    margin: 0;
  }
}

.client__item {
  margin: 15px;
  width: calc(100% / 2 - 30px);

  @include change-size(tablet) {
    width: calc((100% - 60px) / 3);
    margin: 0;
    margin-bottom: 30px;
  }
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90px;

  border: 1px solid #afb1b8;
  border-radius: 4%;
  transition: border 250ms $time-distribution-function;

  &:hover,
  &:focus {
    border: 1px solid $accent-text-color;
  }
}

.clients__link-icon {
  fill: #afb1b8;
  transition: fill 250ms $time-distribution-function;

  .clients__link:hover &,
  .clients__link:focus & {
    fill: $accent-text-color;
  }
}

.clients__client1 {
  width: 44.27px;
  height: 49.23px;
}
.clients__client2 {
  width: 40px;
  height: 52px;
}
.clients__client3 {
  width: 41px;
  height: 42.6px;
}
.clients__client4 {
  width: 79.66px;
  height: 42.02px;
}
.clients__client5 {
  width: 59px;
  height: 47px;
}
.clients__client6 {
  width: 88.48px;
  height: 45.44px;
}
