.team {
  background-color: $secondary-bgc;
}

.team__container {
  padding-top: 60px;
  padding-bottom: 60px;

  @include change-size(desktop) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team__title {
  margin: 0;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 28px;
  line-height: 1.178;
  text-align: center;

  @include change-size(desktop) {
    font-size: 36px;
    line-height: 1.167;
  }
}

.team__list {
  @include change-size(tablet) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.team__item {
  margin-top: 30px;
  padding-bottom: 24px;

  background: $primery-bgc;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  @include change-size(tablet) {
    width: calc((100% - 30px) / 2);
  }

  @include change-size(desktop) {
    width: calc((100% - 90px) / 4);
  }
}

.team-image {
  width: 100%;
  height: auto;
}

.team__name {
  margin-top: 30px;
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.team__position {
  margin: 0;

  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;

  color: $secondary-text-color;
}

.team__link-list {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 16px;
}

.team__link-item {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-right: 10px;

  width: 44px;
  height: 44px;

  border-radius: 50%;
  transition: background-color 250ms $time-distribution-function;

  &:hover,
  &:focus {
    background-color: $accent-text-color;
    border-radius: 50%;
  }
}

.team__link-icon {
  width: 20px;
  height: 20px;

  background-position: 50% 50%;

  fill: #afb1b8;
  transition: fill 250ms $time-distribution-function;

  .team__link-item:hover &,
  .team__link-item:focus & {
    fill: $another-text-color;
  }
}
