.filter {
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 40px;

  @include change-size(tablet) {
    width: 611px;
  }

  @include change-size(desktop) {
    padding-bottom: 50px;
  }
}

.filter__list {
  display: flex;
  flex-wrap: wrap;

  @include change-size(tablet) {
    justify-content: space-between;
    flex-wrap: nowrap;
  }
}

.filter__button {
  display: inline-block;
  margin-right: 8px;
  margin-bottom: 15px;
  padding: 6px 22px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;

  border-radius: 4px;
  border: none;

  background-color: $secondary-bgc;
  color: $primary-text-color;

  background-position: 50% 50%;

  transition: background-color 250ms $time-distribution-function,
    color 250ms $time-distribution-function;

  &:hover,
  &:focus {
    border: none;

    color: $another-text-color;
    background-color: $accent-text-color;
  }

  &:active {
    color: $primary-text-color;
    border: none;
  }

  @include change-size(tablet) {
    margin-right: 0;
  }
  @include change-size(desktop) {
    margin-bottom: 0;
  }

  margin-bottom: 15px;
}
