.footer {
  background-color: $footer-hero-bgc;
}

.footer__container {
  @extend %container;

  @media screen and (min-width: $mobile) {
    width: 480px;
  }

  padding: 60px 15px;
  // display: flex;
  // align-items: baseline;
  // justify-content: space-between;
}
