.footer {
  background-color: $footer-hero-bgc;
}

.footer__container {
  padding: 60px 15px;

  // align-items: baseline;
  // justify-content: space-between;

  @include change-size(tablet) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}

.footer__wrapper {
  @include change-size(tablet) {
    display: flex;
    justify-content: space-around;

    width: 100%;
  }
}
