.footer {
  background-color: $footer-hero-bgc;
}

.footer__container {
  padding: 60px 15px;

  @include change-size(tablet) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  @include change-size(desktop) {
    flex-direction: row;
    align-items: baseline;
    // justify-content: space-between;
  }
}

.footer__wrapper {
  @include change-size(tablet) {
    display: flex;
    justify-content: space-around;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 100%;
  }

  @include change-size(desktop) {
    align-items: baseline;
  }
}
