.footer__contacts {
  padding-left: 15px;
  padding-right: 15px;

  font-style: normal;
  text-align: center;

  color: rgba(255, 255, 255, 0.6);

  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
  }
}

.footer__address {
  display: block;
  margin-bottom: 9px;

  color: $another-text-color;
}

.footer__mail {
  display: block;
  margin-bottom: 9px;
}
