.contact-container {
  text-align: center;

  @media screen and (max-width: 1199px) {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);

    text-align: left;
  }

  @include change-size(desktop) {
    display: flex;
  }
}

.header__contact {
  display: block;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.167;
  letter-spacing: 0.02em;
  font-style: normal;
  text-decoration: none;

  color: $secondary-text-color;

  transition: color 250ms $time-distribution-function;

  &:hover,
  &:focus {
    color: $accent-text-color;
  }

  @include change-size(tablet) {
    padding-right: 15px;
    font-size: 12px;
  }
}

.header__mail {
  margin-bottom: 16px;
  //   // margin-right: 50px;
}

.mail-icon {
  @extend %header-icon;
  width: 16px;
  height: 12px;

  .contact:hover &,
  .contact:focus & {
    fill: $accent-text-color;
  }
}

.phone-icon {
  @extend %header-icon;
  width: 10px;
  height: 16px;

  .contact:hover &,
  .contact:focus & {
    fill: $accent-text-color;
  }
}
