.nav {
  display: flex;
  width: 532px;
  justify-content: space-between;
  align-items: center;
}

.nav__list {
  @extend %flex;
  width: 294px;
}

.nav__link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;

  color: $primary-text-color;

  transition: color 250ms $time-distribution-function;

  &:hover,
  &:focus {
    color: $accent-text-color;
  }
}

.nav__current {
  display: block;
  position: relative;
  color: $accent-text-color;

  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    position: absolute;
    top: 44px;

    background-color: $accent-text-color;
  }
}
