%font-button {
  font-family: inherit;
}

%container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  @media screen and (min-width: $mobile) {
    width: 480px;
  }
  @media screen and (min-width: $tablet) {
    width: 768px;
  }
  @media screen and (min-width: $desktop) {
    width: 1170px;
  }
}

%logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;

  color: $logo-color;
}

%flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

%header-icon {
  // display: block;
  vertical-align: middle;
  // margin-right: 10px;
  fill: currentColor;
  transition: fill 250ms $time-distribution-function;
}

%visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

%center-positioning {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

%section-title {
  margin: 0;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
%footer-appeal {
  margin: 0;
  margin-bottom: 20px;

  font-weight: 700;
  line-height: 1.14em;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: $another-text-color;
}
